.description__items {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  min-width: 1200px;
  min-height: 200px;
  box-sizing: border-box;
}
